.label {
    font-size: xx-large;
    margin-top: 30px;
}

.btn-info:hover {
    background-color: brown;
}

.btn-info {
    font-size: large;
}

canvas {
    animation-name: changeBackground;
    animation-duration: 5s;
    animation-iteration-count: 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
}

@keyframes changeBackground {
    from{box-shadow: 4px 4px 40px rgb(254, 0, 0);}
    to{box-shadow: 4px 4px 40px rgb(0, 0, 0);}
}